<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Fragment>
    <ComponentGroup Id="ExampleComponents" Directory="INSTALLFOLDER">
      <Component>
        <File Source="ConsoleApplication1.exe" />
      </Component>
		<Component>
			<File Source="greeting.json"/>
		</Component>
    </ComponentGroup>
  </Fragment>
</Wix>
